# Kram, den die Werkzeuge so erzeugen
#####################################
# ReSharper
_ReSharper.NerdGolfTracker
NerdGolfTracker.6.0.ReSharper.user

# FinalBuilder
NerdGolfTracker.fb7lck
NerdGolfTracker.fbl7
NerdGolfTracker.fbpInf
NerdGolfTracker.suo

# Visual Studio
*DotSettings.user
*/bin
*/obj

# NUnit-GUI
*VisualState.xml
